# Object files
*.o
*.ko
*.obj
*.elf

# Binaries
*.bin

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Vagrant directory
.vagrant/

# More STM Build Stuff
*.cyclo
*.d
*.su

STM32CubeIDE/CM7/Debug/*

